@using PiedraAzul.Client.Models.UserProfiles

<div class="flex items-center gap-4">
    
    <!-- Avatar -->
    <img src=@("Avatars/" + MedicDTO.AvatarUrl)
         alt=""
         class="h-16 w-16 flex-shrink-0 rounded-md object-cover sm:h-20 sm:w-20 md:h-24 md:w-24" />

    <!-- info -->
    <div class="flex min-w-0 flex-1 flex-col">
        <p class="truncate text-sm font-semibold sm:text-base">@MedicDTO.Name</p>
        <span class="text-xs text-gray-600">@MedicDTO.Specialty</span>
        <span class="text-xs text-gray-500">@MedicDTO.Clinic</span>
    </div>

    <!-- botón -->
    <button type="button"
            class="ml-3 shrink-0 rounded-md px-3 py-2 text-sm font-medium transition
        @(Selected
                        ? "bg-primary text-white"
                        : "bg-neutral-200 hover:bg-neutral-300")">

        @(Selected ? "SELECCIONADO" : "SELECCIONAR")

    </button>

</div>

@code {

    [Parameter, EditorRequired]
    public DoctorModel MedicDTO { get; set; }

    [Parameter]
    public bool Selected { get; set; }


}